<section class="content--bg-grey">
  <div class="layout-wrapper">

    <div class="layout">
      <div class="layout__item 2/3">

        <h1><%= t(:edit, scope: "medialinks")%></h1>

      </div><!--
      --><div class="layout__item 1/3">

        <%= link_to(t(:home, scope: "profiles.edit"), profiles_path, class: 'content__link--bg') %><br>
        <%= link_to(t(:show, scope: "profiles.edit"), @profile, class: 'content__link--bg') %>

      </div>
    </div>

    <div class="layout">
      <div class="layout__item 2/3 bg--white">
        <%= simple_form_for [@profile, @medialink] do |f| %>
          <%= render partial: "shared/medialinks_formfields",
                     locals: { form_type: :update_medialink, f: f, medialink: @medialink } %>
        <% end %>
      </div>
    </div>

  </div>
</section>
